# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
.venv/
venv/

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# MLflow
mlruns/
mlartifacts/

# Data (opsional - tergantung size)
# Jika file besar, uncomment ini:
# *.csv

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

Membangun_model/artifak/

*:Zone.Identifier

